.bannerInfo {
    border-style: solid;
    border-color: gold;
    text-align: center;
    font-size: 100px;
    padding: 10px;
}

.bannerInfo p {
    font-size: 10px;
    text-emphasis: italic;
}

#grid {
    position: relative;
    width: 80%;
    margin: auto;
    padding: 15px;
    border-radius: 25px; /* Clears unordered list default of 40px */
}

.factionButton {
    position: relative;
    color: black;
    border: 1px black solid;
    padding: 20px;
    width: 100%;
    margin: 20px;
}

.factionButton:hover {
    box-shadow: 10px 10px 10px red;
    background-color: gray;
}

.textSection { 
    display: inline-block;
    padding: 10px;
    border: solid 1px black;
    margin-left: 5px;
    margin-right: 5px;
    position: inline;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}